<div style="width: 100%; margin-bottom: 50px;">
  <input class="input"
         type="text"
         [(ngModel)]="autocompleteInput"
         #addresstext style="padding: 12px 20px; border: 1px solid #ccc; width: 400px"
  >

  <button style="margin-left: 10px;" (click)="add()">Add</button>
</div>

<div style="width: 100%; margin-bottom: 50px;">
  <h1>Locations list</h1>

  <br>

  <ol>
    <li *ngFor="let location of locationList">{{ location.formattedAddress }} - {{ location.placeId }}</li>
  </ol>
</div>

<div>
  <button (click)="createOriginAndDestinationLists()">Create journey</button>

  <br>

  <div>{{ matrixResponse }}</div>
</div>
